html{
    font-family: 'Public Sans', sans-serif;
}

main{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.paintings{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.paintings .painting{
    width: 335px;
    height: 431px;
    position: relative;
}

.paintings .painting img{
    width: 100%;
}

.paintings .painting .information{
    position: absolute;
    color: #FFFFFF;
    bottom: 42px;
    margin-left: 26px;
}

.paintings .painting .information .title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.paintings .painting .information .subtitle{
    font-size: 17px;
    font-weight: 400;
}

